@model IEnumerable<qltv.Models.BAOCAOSACHTRATRE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoNgayTraTre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SACH.TenSach)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoNgayTraTre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SACH.TenSach)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaBaoCaoSachTraTre }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaBaoCaoSachTraTre }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaBaoCaoSachTraTre })
        </td>
    </tr>
}

</table>
