@model qltv.Models.PHIEU_MUON_SACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PHIEU_MUON_SACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayMuon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMuon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOC_GIA.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOC_GIA.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SACH.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SACH.TenSach)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPhieuMuon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
